{% extends 'base.html' %}
{% block content %}
<!-- <div class="container">
    <div class='row'>
        <div class="col-xs-12 col-lg-8 col-lg-offset-2"> -->
            <h2>User # {{ user.user_id }}</h2>

            <p>Age: {{ user.age }}</p>
            <p>Zipcode: {{ user.zipcode }}</p>
<!--         </div>

    </div>
</div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2">     -->
            <table class="table table-striped">
                <tr>
                    <th>Rating ID</th>
                    <th>Movie Title</th>
                    <th>Score</th>
                </tr>
                {% for r in user.ratings %}
                <tr>
                    <td><a href="/movie/{{ r.movie_id }}">{{ r.rating_id }}</a></td>
                    <td><a href="/movie/{{ r.movie_id }}">{{ r.movie.title }}</a></td>
                    <td>{{ r.score }}</td>
                </tr>
                {% endfor %}
            </table>
<!--         </div>
    </div>
</div> -->
{% endblock %}